
@font-face {
  font-family: 'Sarala';
  src: url('assets/fonts/Sarala/Sarala-Regular.eot');
  src: url('assets/fonts/Sarala/Sarala-Regular.woff2') format('woff2'),
  url('assets/fonts/Sarala/Sarala-Regular.woff') format('woff'),
  url('assets/fonts/Sarala/Sarala-Regular.ttf') format('truetype'),
  url('assets/fonts/Sarala/Sarala-Regular.svg#Sarala-Regular') format('svg'),
  url('assets/fonts/Sarala/Sarala-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sarala-bold';
  src: url('assets/fonts/Sarala/Sarala-Bold.eot');
  src: url('assets/fonts/Sarala/Sarala-Bold.woff2') format('woff2'),
  url('assets/fonts/Sarala/Sarala-Bold.woff') format('woff'),
  url('assets/fonts/Sarala/Sarala-Bold.ttf') format('truetype'),
  url('assets/fonts/Sarala/Sarala-Bold.svg#Sarala-Bold') format('svg'),
  url('assets/fonts/Sarala/Sarala-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.woff2') format('woff2'),
  url('Montserrat-Regular.woff') format('woff'),
  url('Montserrat-Regular.ttf') format('truetype'),
  url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Medium.eot');
  src: url('assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'),
  url('assets/fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
  url('assets/fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
//@import url('https://fonts.googleapis.com/css?family=Sarala:400,700');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
