footer{
    font-size: 14px;
    width: 100%;
    margin-top: 100px;
    padding: 20px 0 45px 0;
    background-color: #cccccc;
    box-shadow: 0 2px 2px #bebebe inset;
    border-top: 1px solid #bebebe;
    position: relative;
       .copyright, .f_menu{
         opacity: 0.7;
       }
      .f_menu{
        list-style: none;
        margin: 0;
        padding: 0;
          li{
            display: inline-block;
            a{
              color: $font;
              position: relative;
              padding: 0 8px 0 3px;
                &::after{
                  content: "";
                  width: 1px;
                  height: 70%;
                  background-color: #000;
                  position: absolute;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }
            }
            &:last-of-type{
              a{
                padding-right: 0;
                  &::after {
                  display: none;
                  }
              }
            }
          }
      }
    ._up{
      position: absolute;
      top:-36px;
      left: 0;
      margin: auto;
      right: 0;
      width: 140px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-top: 1px solid #bebebe;
      border-radius: 4px 4px 0 0;
      background-color: #ccc;
      box-shadow: 0 2px 2px #bebebe inset;
      font-weight: bold;
      cursor: pointer;
      transition: $transition;
        &::after{
          content: '';
          position: absolute;
          width: 80%;
          height: 1px;
          background: $color2;
          top: 0;
          margin: auto;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scaleX(0);
          transform-origin: 100% 0;
          transition: -webkit-transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
          transition: transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
          transition: transform 500ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        &:hover{
          color: #000;
           &::after{
             transform: scaleX(1);
             transform-origin: 0 0;
           }
        }
    }
}