// -- LOAD PAGE WITH ANIMATION
@-webkit-keyframes fadeInPage {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeInPage {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fadeInPage {
  -webkit-animation-name: fadeInPage;
  animation-name: fadeInPage;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
html{
  font-size: 100%;
}
*{
  box-sizing:border-box;
}
body{
  color: $font;
  font-family: "Sarala", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #e6e6e6;
}
a{
  cursor: pointer;
  color: $color2;
  transition: $transition;
}
a, button, button:focus, button:active, a:focus, input:focus, select:focus, textarea:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  font-weight: normal;
  strong,b{
    font-weight: normal;
  }
}
h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.5em;
}
h3, .h3 {
  font-size: 1.35em;
}
h4, .h4 {
  font-size: 1.25em;
}
h5, .h5 {
  font-size: 1.2em;
}
h6, .h6 {
  font-size: 1.05em;
}


i, cite, em{
  font-style: italic;
}
strong, b{
  font-weight: normal;
  font-family: "Sarala-bold", sans-serif;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clr{clear:both;}

::-moz-selection { background: $font; color: white; }
::selection { background: $font; color: white; }




