header{
  border-top: 3px solid $color2;
  background-color: white;
  padding: 8px 0;
  box-shadow: $box-shadow;
  z-index: 2;
  position: relative;
    svg{
      height: 40px;
      width: auto;
    }
}