.profile{
  margin-top: -1px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 #ccc;
  border: 1px solid;
  border-color: transparent #cccccc #cccccc #cccccc;
  position: relative;
  z-index: 11;
  @media (max-width: $screen-xxs-max) {
    border: 0;
    box-shadow: none;
  }
}
.map-box{
  position: relative;
    .profile-siegel{
      z-index: 11;
      right: 50px;
      bottom: -60px;
      position: absolute;
      background:url('assets/images/monde-siegel.png') center no-repeat;
      display:block;
      background-size: 120px;
      width: 120px;
      height: 140px;
        @media (max-width: $screen-xs-max) {
          bottom: -110px;
          right: 15px;
          background-size: 90px;
          width: 90px;
          height: 105px;
        }
    }
    #profile-map{
      width: 100%;
      height: 250px;
      position: relative;
       &::after{
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: #fff;
         height: 13px;
       }
    }
}
.logo-holder{
  background-color: #fff;
  max-width: 200px;
  width: 100%;
  border:1px solid #ddd;
  height: 130px;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 15px;
  .logo-wrap{
    z-index: 1;
    max-width: 180px;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 110px;
    overflow: hidden;
    background-color: whitesmoke;
       img{
        display: block;
        position: absolute;
        top:0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
      }
  }
  .logo-placer{
    background:url('assets/images/monde-logo.svg') no-repeat center;
    background-size: 125px auto;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    max-width: 170px;
    margin: 0 auto;
    height: 96px;
    border:1px solid #e6e6e6;
    overflow: hidden;
  }
  &:after{
    content: "";
    background: url('assets/images/arrow.png') no-repeat center;
    background-size: 25px 17px;
    width: 25px;
    height: 17px;
    bottom: -17px;
    left: 85px;
    z-index: 11;
    position: absolute;
  }
}

.profile-info{
  h1{
    font-size: 1.55em;
    @media (max-width: $screen-xs-max) {
      font-size: 1.35em;
    }
  }
  ._data{
    margin-bottom: 5px;
      svg._icon-location{
        width: 20px;
        vertical-align: top;
        margin-right: 1px;
      }
      svg{
        width: 15px;
        display: inline-block;
        margin-right: 5px;
        fill: $grey;
        vertical-align: middle;
      }
    a{
      color: $color2;
      text-decoration: underline;
      &:hover{
        color: $color1;
      }
    }
    .type{
      display: none;
    }
  }
  ._about{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0.25rem;
    text-align: left;
  }
  .col-12.col-md-4{
    border-right: 1px dashed #ccc;
      &:last-of-type{
        border-right: 0;
      }
      @media (max-width: $screen-xs-max) {
        border-right: 0;
        margin-bottom: 8px;
        &::after{
          content: "";
          position: absolute;
          width: 92%;
          left: 0;
          right: 0;
          height: 1px;
          bottom: -2px;
          margin: auto;
          background-color: #ddd;
        }
        &:last-of-type{
          margin-bottom: 0;
          &::after{
            display: none;
          }
        }
      }
   }
}
.tags {
    background-color: rgba(0, 0, 0, 0.035);
    border-top: 1px solid #ddd;
    padding: 10px 0;
      span{
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 15px;
      }
}

.profile-description{
  border-top: 1px solid #ddd;
  h2{
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0;
    color: $color2;
  }
  h3{
    font-size: 1.05em;
    text-transform: uppercase;
    }
}

.separator {
  height: 1px;
  background: $color2;
  opacity: 0.55;
  position: relative;
  margin: 15px 0;
    span{
      border-radius: 10px;
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      top: -5px;
      border: 1px solid $color2;
      background-color: $color2;
    }
}

//--BANNERS
.banner-top{
  overflow: hidden;
    img{
      //width: 100%;
    }
}
.skyscraper-right{
  float:right;
  margin-top: 15px;
  margin-right: -330px;
    #skyscraper-oben-rechts {
      position: relative;
      width: 300px;
    }
    @media (max-width: 1200px) {
      display: none;
    }
}

#sidebar {
    figure{
      width: 300px;
      box-shadow: $box-shadow;
        img{
          width: 100%;
          height: auto;
        }
    }
    .banner {
      width: 300px;
      height: 250px;
    }
}

.stopper{
  width: 100%;
  margin-top: -20px;
}

//--COOKIE
.cookie-holder{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
  text-align: left;
  background-color: rgba(0,0,0,0.925);
  color: #fff;
  z-index: 50;
  font-size: 13px;
    #cookie_cookie-text{
      width: 92%;
    }
    img{
      transition:$transition;
      transform: rotate(0deg);
      &:hover{
        transform: rotate(90deg) !important;
      }
    }
    a{
      text-decoration: none !important;
    }
}